
@{
    ViewBag.Title = "ConfirmOrder";
}

<h2>Compra realizada!</h2>

<div>
    <p>Gracias por comprar en FÚCHIBOL!!!</p>
    <a class="btn btn-success" href="@Url.Action("Index","Home")">
        <i class="fa fa-arrow-alt-circle-left"></i>
        Volver
    </a>

</div>


